@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500;900&display=swap');

:root {
  --main-color: #FFCA41;
  --header-color: white;
  --lighter-color: gray;
}
body {
  box-sizing: border-box;
  max-width: 414px;
  margin: 0 auto;
  padding-top: 3rem;
  font-family: 'Roboto Slab', serif;
}

/* home */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.allBeers,
.randomBeer {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}
.home img {
  display: flex;
 justify-content: center;
}

.home h2 { 
  color: var(--header-color);
  margin-left: .5rem;
}
.headerContainer { 
  display: flex;
  background-color: var(--main-color);
  width: 353px;
  height: 3rem;
  margin: 0 auto;
  align-items: center;
}
.randomBeer p,
.allBeers p {
  width: 353px;
}
.homeFooter {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 5rem;
  width: 414px;
  background-color: var(--main-color);
}
.homeFooter img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 57px;
  height: auto;
  left: calc(50% - 57px/2 - 0.5px);
  bottom: 15px;
}
a {
  text-decoration: none;
  color: inherit;
}
/* allBeers */

.allBeersList {
  margin-bottom: 8rem;
}
.allBeersMainContainer {
  display: flex;
}
.imageContainer { 
  display: flex;
  min-width: 100px;
  margin: 1rem 1rem;
  padding-left: 4rem;
  justify-content: center;
}
.imageContainer img {
  justify-content: center;
  width: auto;
  height: 191px;
}
.contentContainer p:first-of-type {
  font-size: 1.5rem;
  margin-bottom: 0;
  width: 200px;
}
.contentContainer p:nth-of-type(2) {
  font-size: 1.2rem;
  color: var(--main-color);
  margin-top: 0;
  width: 200px;
}
.contentContainer p:nth-of-type(3) {
  font-size: .8rem;
  margin-top: 0;
}
.allBeersMainContainer:after {
  content: " ";
  height: 4px;
  width: 100%;
  color: var(--lighter-color);
}
.contentContainer a {
  display: block;
  width: 6rem;
  height: 1.5rem;
  padding: .5rem;
  background-color: var(--main-color);
  color: var(--header-color);
  border-style: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: inherit;
  text-align: center;
}
hr {
  display: block;
  width: 90%;
  background-color: var(--lighter-color);
}
/* Detail Beer */
/* Random Beer */

.detailImageContainer { 
  display: flex;
  justify-content: center;
}
.detailImageContainer img {
  width: auto;
  height: 409px;
}
.backButton { 
  margin: 0 0 8rem 2rem;
  width: 100%;
}
.detailData {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2rem;
}
.detailBeerList h2,
.randomBeerList h2 {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 0;
}

.detailBeerList h3,
.randomBeerList h3 {
  margin: 0 0;
  font-size: 1.5rem;
  color: var(--main-color);
  font-weight: bold;
  display: block;
  padding-bottom: 1rem;
}

.textLeft,
.textRight  {
  width: 50%;
  margin: 0;
  justify-content: space-between;
  color: var(--lighter-color);
}
.textRight {
  text-align: right;
}
.description {
  width: 95%;
  margin-top: 1rem;
  color: black;
}

/* Random Beer */

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 4rem;
  width: 4rem;
  background-color:  var(--main-color);
  border-radius: 50%;
  border-style: none;
  }
